<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gorilla GDKP Player Statistics</title>
    <link rel="stylesheet" href="styles_player_stats.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="header-content">
        <h1>Gorilla GDKP Player Statistics</h1>
        <h3>
            Welcome to the website! Here you will find statistics
            for Gorilla GDKP players.
        </h3>
        <p>
            The website's code is open source and can be found on 
            <a href="https://github.com/HenrikLovold/GorillaWebsite">Github</a>.
            It is definitely a WIP, don't expect a bug free experience. 
            Made by your favourite tank Teldor :)
        </p>
    </div>
    <div class="container" id="app-root">
        <div class="content left-panel">
            <label>Select Player</label>
            <input type="text" id="search_input" v-model="searchInput" placeholder="Search for player..."/>
            <select size="2" id="player_select_box" v-model="selectedPlayer">
                <option v-for="player in player_names_current">
                    {{ player }}
                </option>
            </select>
        </div>
        <div class="content right-panel">
	    <label v-if="selectedPlayerObject && selectedPlayerObject.name != 'Dummy'">
		    Statistics for {{selectedPlayerObject.name}}
	    </label>
	    <label v-else>
		    Select player
	    </label>
                <div id="stats_box">
                    <p><strong>Max gold spent:</strong> {{selectedPlayerObject.misc["most_spent"]}}g</p>
                    <p><strong>Biggest cut:</strong> {{selectedPlayerObject.misc["biggest_cut"]}}g</p>
                    <p><strong>Cut to spending ratio:</strong> {{selectedPlayerObject.misc["ratio"]}} gold spent per gold earned</p>
                    <p><strong>Average deduction in percent:</strong> {{parseFloat(selectedPlayerObject.deducts["avg"]).toFixed(2)}}</p>
                </div>
            <p>
                <h2>All cuts from raids</h2>
                <div class="scrollable-box">
                    <ul v-if="selectedPlayerObject && selectedPlayerObject.cuts">
                        <template v-for="(cutValue, cutKey) in selectedPlayerObject.cuts" :key="cutKey">
                            <li v-if="typeof cutKey === 'string' && cutKey.startsWith('2')">
                                <strong>{{ cutKey.replace('.', ' RAID #') }}:</strong> {{ cutValue }}g
                            </li>
                        </template>
                    </ul>
                </div>
            </p>
            <p>
                <h2>All sums of purchases from raids</h2>
                <div class="scrollable-box">
                    <ul v-if="selectedPlayerObject && selectedPlayerObject.purchases">
                        <template v-for="(purchaseValue, purchaseKey) in selectedPlayerObject.purchases" :key="purchaseKey">
                            <li v-if="typeof purchaseKey === 'string' && purchaseKey.startsWith('2')">
                                <strong>{{ purchaseKey.replace('.', ' RAID #') }}:</strong> {{ purchaseValue }}g
                            </li>
                        </template>
                    </ul>
                </div>
            </p>
        </div>
    </div>
    <script src="player_script.js"></script>
</body>
</html>
