html, body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #0056b3;
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

.container {
    height: 100%;
    flex-grow: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10vh;
    background-color: rgba(0, 0, 255, 0.2);
    padding: 40vh;
    border-radius: 5px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-grow: 0;
    width: 30vh;
    background-color: rgba(0, 0, 255, 0.3);
    padding: 50px;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.content label {
    font-size: 1.5em;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

.content h1 {
    font-size: 2em;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

.content a,
.content a:link,
.content a:visited,
.content a:hover,
.content a:active {
    text-decoration: none;
    font-size: 1em;
    color: black;
    line-height: 1.6;
    margin: 0px;
    text-align: center;
}

.container img {
    height: 50vh;
    width: auto;
    padding: 20vh;
}