html, body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #dbfdd8;
    color: #333;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #0056b3;
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

input {
    margin: 10px;
    border-radius: 5px;
    font-size: 1.1em;
}

li {
    font-size: 1.1em;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    display: block;
}

.scrollable-box {
    border: 1px solid #ccc;
    height: 100px;
    width: 20vw;
    flex-grow: 0;
    overflow-y: scroll;
    padding: 10px;
    align-self: center;
}

.container {
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    background-color: rgba(0, 0, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.content {
    display: flex;
    background-color: rgba(0, 0, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    box-sizing: border-box;
}

.content label {
    font-size: 1.5em;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}

.right-panel {
    display: flex;
    max-height: 100%;
    height: 100%;
    flex-direction: column;
    gap: 5px;
}

.top-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: fit-content;
}

.bottom-right {
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bottom-right img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

#player_select_box {
    width: 100%;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #99999900;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}